.homeBody {
    background-color: rgb(235, 233, 205);
   padding: 50px
}


body {
    background-color: rgb(235, 233, 205);
}

.homePgTitle {
    margin-top: 100px;
    color: rgb(220, 131, 22);
    line-height: 50px;
    font-size: 70px;
    text-align: center ;
    text-shadow: rgb(96, 21, 54) 1px 1px 1px;
}

.haveFun {
    color: rgb(220, 131, 22);
    line-height: 50px;
    font-size: 75px;
    text-align: center ;
    text-shadow: rgb(72, 24, 218) 1px 1px 1px;

}

.toGamePage {
    text-align: center;
}

.gamePlay {
    width: 175px;
    height: 50px;
    font-size: 20px;
    background-color: rgb(212, 209, 240);
    letter-spacing: 2px;
    border-radius: 10px;
}



.instructs {
    text-align: center;
    /* width: 200px; */
    color: rgb(220, 131, 22);
    text-align: center;
    font-size: 25px;
    
    /* margin-left: 575px; */
    padding: 50px;
}

.pgTitle {
    color: rgb(220, 131, 22);
    line-height: 50px;
    font-size: 30px;
    text-align: center ;
    text-shadow: rgb(96, 21, 54) 1px 1px 1px;
}

.gridContainer {        /*This holds the playGrid*/
    align-items: center; 
    display: flex;
    width: 900px;
    height:800px;
    background-color: rgb(212, 209, 240);
    /* border: 10px solid purple; */
    margin: auto;
}

.leftFoot {
    width: 30px;
    height: 150px;
    border: 2px solid rgb(251, 40, 54);
    margin-left: 5%;
    

}

.playGrid {             /*This is where the circles are laid out */
    display: grid;
    grid-template-rows: repeat(7, 5px);
    grid-template-columns: repeat(8, 12px);
    grid-gap: 55px;
    width: 850px;
    height: 540px;
    border: 5px solid black;
    background-color: rgb(211, 166, 67);
    padding: 10px;
}


.circles {
    width: 60px;
    height: 60px;
    background-color: whitesmoke;
    margin-bottom: 30px;
    border-radius: 100px;
    border: 2px solid blue;
    margin-left: 6px;
}

.taken {
    width: 0;
    height: 0;
    margin: 30px;
}

.rightFoot {
    width: 30px;
    height: 150px;
    border: 2px solid rgb(251, 40, 54);
    margin-right: 15%;
}

.redPlayer {
    background-color: rgb(239, 108, 96);
    text-align: center;
    padding: 15px;
    width: 110px;
    height: 16px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 2px;
}
.redPlayer:hover {
    background-color: rgb(242, 81, 66);
}
.grnPlayer {
    background-color: rgb(144, 207, 151);
    text-align: center;
    padding: 15px;
    width: 110px;
    height: 15px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 2px;
}
.grnPlayer:hover {
    background-color: rgb(97, 200, 109);
}

.resetBtn {
    background-color: rgb(216, 211, 221);
    font-size: 20px;
    width: 145px;
    border-radius: 10px;
}
.resetBtn:hover {
    background-color: rgb(208, 174, 242);
}
